docs/skills/twng/Marketing:Launch/TWNG_System_A_Make_Scenario.json
{
  "name": "TWNG System A: Featured Guitar Content",
  "description": "Daily automation to discover interesting guitars on Instagram, create feature articles, and queue for outreach",
  "version": "1.0",
  "scheduling": {
    "type": "interval",
    "interval": 86400,
    "start_time": "07:00",
    "timezone": "America/New_York"
  },
  "blueprint": {
    "flow": [
      {
        "id": 1,
        "module": "builtin:BasicScheduler",
        "version": 1,
        "parameters": {},
        "metadata": {
          "designer": { "x": 0, "y": 0 },
          "restore": {},
          "parameters": [
            {
              "name": "scheduling",
              "type": "select",
              "label": "Interval",
              "value": "daily",
              "options": ["daily", "hourly", "weekly"]
            },
            {
              "name": "time",
              "type": "time",
              "label": "Time",
              "value": "07:00"
            }
          ]
        }
      },
      {
        "id": 2,
        "module": "apify:RunActor",
        "version": 1,
        "parameters": {
          "actorId": "apify/instagram-hashtag-scraper",
          "input": {
            "hashtags": [
              "vintageguitar",
              "guitarcollection",
              "ngd",
              "gibsonlespaul",
              "fenderstratocaster",
              "gibsoncustom",
              "vintagegibson",
              "vintagefender",
              "guitargram",
              "geartalk",
              "guitaroftheday",
              "guitarporn",
              "myguitarcollection",
              "guitarlove",
              "boutiqueguitars"
            ],
            "resultsLimit": 500,
            "searchType": "hashtag",
            "searchLimit": 35,
            "extendOutputFunction": "",
            "proxy": {
              "useApifyProxy": true
            }
          },
          "waitForFinish": 600
        },
        "metadata": {
          "designer": { "x": 250, "y": 0 },
          "restore": {},
          "parameters": [
            {
              "name": "actorId",
              "type": "text",
              "label": "Actor ID"
            },
            {
              "name": "resultsLimit",
              "type": "number",
              "label": "Max Results"
            },
            {
              "name": "hashtags",
              "type": "array",
              "label": "Hashtags to Scrape"
            }
          ]
        },
        "mapper": {
          "actorId": "apify/instagram-hashtag-scraper",
          "input": "{{JSON.stringify(parameters.input)}}"
        }
      },
      {
        "id": 3,
        "module": "builtin:BasicFeeder",
        "version": 1,
        "parameters": {},
        "metadata": {
          "designer": { "x": 500, "y": 0 },
          "restore": {
            "runtimeId": "{{2.defaultDatasetId}}"
          }
        },
        "mapper": {
          "array": "{{2.items}}"
        },
        "comment": "Iterator: Process each Instagram post individually"
      },
      {
        "id": 4,
        "module": "builtin:BasicFilter",
        "version": 1,
        "parameters": {
          "conditions": [
            {
              "a": "{{3.likesCount}}",
              "b": 100,
              "o": "number:gte"
            },
            {
              "a": "{{length(3.caption)}}",
              "b": 50,
              "o": "number:gte"
            },
            {
              "a": "{{3.ownerUsername}}",
              "b": "",
              "o": "text:notequal"
            }
          ],
          "condition": "and"
        },
        "metadata": {
          "designer": { "x": 750, "y": 0 }
        },
        "comment": "Filter: Posts with 100+ likes and caption 50+ chars"
      },
      {
        "id": 5,
        "module": "anthropic:createMessage",
        "version": 1,
        "parameters": {
          "model": "claude-sonnet-4-20250514",
          "max_tokens": 1024,
          "temperature": 0.3
        },
        "metadata": {
          "designer": { "x": 1000, "y": 0 },
          "restore": {},
          "parameters": [
            {
              "name": "model",
              "type": "select",
              "label": "Model"
            },
            {
              "name": "max_tokens",
              "type": "number",
              "label": "Max Tokens"
            },
            {
              "name": "prompt_name",
              "type": "text",
              "label": "Prompt: post_qualification"
            }
          ]
        },
        "mapper": {
          "model": "claude-sonnet-4-20250514",
          "max_tokens": 1024,
          "messages": [
            {
              "role": "user",
              "content": "You are evaluating Instagram posts for TWNG, a platform for guitar collectors. Your job is to identify posts worth featuring based on the guitar's interest level and the story quality.\n\nINPUT:\n- Post caption: {{3.caption}}\n- Likes: {{3.likesCount}}\n- Comments: {{3.commentsCount}}\n- Account followers: {{3.ownerFollowersCount}}\n- Post date: {{3.timestamp}}\n\nEVALUATION CRITERIA:\n\n1. GUITAR INTEREST (1-10):\n- Vintage (pre-1985): +3 points\n- Rare/unusual model: +2 points\n- Famous brand (Gibson, Fender, Martin, PRS, Gretsch): +1 point\n- Custom/boutique: +2 points\n- Historical significance mentioned: +2 points\n\n2. STORY QUALITY (1-10):\n- Personal history/memory shared: +3 points\n- Acquisition story (how they got it): +2 points\n- Technical details provided: +1 point\n- Emotional connection expressed: +2 points\n- Just \"NGD\" or minimal caption: -3 points\n\n3. ENGAGEMENT QUALITY:\n- Likes > 500: High\n- Likes 100-500: Medium\n- Likes < 100: Low\n\n4. ACCOUNT REACHABILITY:\n- 1K-10K followers: Highly reachable\n- 10K-50K followers: Reachable\n- 50K-100K followers: Difficult\n- 100K+ followers: Celebrity tier (skip)\n\nOUTPUT FORMAT (JSON only, no explanation):\n{\n  \"feature_worthy\": boolean,\n  \"overall_score\": number (1-10),\n  \"guitar_interest_score\": number,\n  \"story_quality_score\": number,\n  \"extracted_data\": {\n    \"brand\": string or null,\n    \"model\": string or null,\n    \"year\": string or null,\n    \"nickname\": string or null,\n    \"story_summary\": string (2-3 sentences)\n  },\n  \"suggested_angle\": string,\n  \"skip_reason\": string or null\n}\n\nOnly mark feature_worthy: true if overall_score >= 7."
            }
          ]
        },
        "comment": "Claude: Post Qualification - Evaluate if post is worth featuring"
      },
      {
        "id": 6,
        "module": "json:ParseJSON",
        "version": 1,
        "parameters": {},
        "metadata": {
          "designer": { "x": 1250, "y": 0 }
        },
        "mapper": {
          "json": "{{5.content[0].text}}"
        },
        "comment": "Parse Claude's JSON response"
      },
      {
        "id": 7,
        "module": "builtin:BasicFilter",
        "version": 1,
        "parameters": {
          "conditions": [
            {
              "a": "{{6.feature_worthy}}",
              "b": true,
              "o": "boolean:equal"
            },
            {
              "a": "{{6.overall_score}}",
              "b": 7,
              "o": "number:gte"
            }
          ],
          "condition": "and"
        },
        "metadata": {
          "designer": { "x": 1500, "y": 0 }
        },
        "comment": "Filter: Only feature-worthy posts with score >= 7"
      },
      {
        "id": 8,
        "module": "anthropic:createMessage",
        "version": 1,
        "parameters": {
          "model": "claude-sonnet-4-20250514",
          "max_tokens": 2048,
          "temperature": 0.7
        },
        "metadata": {
          "designer": { "x": 1750, "y": 0 },
          "restore": {},
          "parameters": [
            {
              "name": "prompt_name",
              "type": "text",
              "label": "Prompt: article_generation"
            }
          ]
        },
        "mapper": {
          "model": "claude-sonnet-4-20250514",
          "max_tokens": 2048,
          "messages": [
            {
              "role": "user",
              "content": "You are writing a short feature article for TWNG, a platform for guitar collectors. The tone should be warm, knowledgeable, and celebratory of the guitar and its story.\n\nINPUT:\n- Guitar data: {{JSON.stringify(6.extracted_data)}}\n- Original caption: {{3.caption}}\n- Suggested angle: {{6.suggested_angle}}\n- Owner's Instagram handle: @{{3.ownerUsername}}\n\nARTICLE REQUIREMENTS:\n1. Length: 200-350 words\n2. Tone: Enthusiastic but not hyperbolic. Knowledgeable. Respectful.\n3. Structure:\n   - Hook opening (1-2 sentences that grab attention)\n   - The guitar itself (specs, history of the model)\n   - The owner's story (from their caption)\n   - Why it matters / what makes it special\n   - Closing that invites the owner to share more\n\n4. DO NOT:\n   - Make up facts not in the source material\n   - Speculate about value/price\n   - Be condescending or overly effusive\n   - Use clichéd phrases like \"axe\" or \"shred\"\n\n5. DO:\n   - Credit the owner by Instagram handle\n   - Include specific details from their caption\n   - Add brief historical context about the guitar model if relevant\n   - End with a soft call-to-action\n\nOUTPUT FORMAT (JSON only):\n{\n  \"title\": string (compelling, specific, 6-10 words),\n  \"subtitle\": string (one-line summary),\n  \"body\": string (the article text, with paragraph breaks as \\n\\n),\n  \"tags\": [array of relevant tags],\n  \"category\": \"Guitar Spotlight\" | \"Rare Find\" | \"Story Behind the Strings\" | \"Collection Feature\"\n}"
            }
          ]
        },
        "comment": "Claude: Article Generation - Create feature article"
      },
      {
        "id": 9,
        "module": "json:ParseJSON",
        "version": 1,
        "parameters": {},
        "metadata": {
          "designer": { "x": 2000, "y": 0 }
        },
        "mapper": {
          "json": "{{8.content[0].text}}"
        },
        "comment": "Parse article JSON response"
      },
      {
        "id": 10,
        "module": "http:ActionSendData",
        "version": 3,
        "parameters": {
          "handleErrors": true
        },
        "metadata": {
          "designer": { "x": 2250, "y": 0 },
          "restore": {},
          "parameters": [
            {
              "name": "url",
              "type": "text",
              "label": "TWNG API Endpoint"
            },
            {
              "name": "method",
              "type": "select",
              "label": "HTTP Method"
            }
          ]
        },
        "mapper": {
          "url": "{{env.TWNG_API_URL}}/api/admin/guitars",
          "method": "POST",
          "headers": [
            {
              "key": "Authorization",
              "value": "Bearer {{env.TWNG_API_KEY}}"
            },
            {
              "key": "Content-Type",
              "value": "application/json"
            }
          ],
          "body": {
            "ownership_type": "system_discovered",
            "ownership_state": "featured",
            "source": {
              "type": "instagram",
              "platform_handle": "{{3.ownerUsername}}",
              "original_post_url": "{{3.url}}",
              "scraped_at": "{{now}}"
            },
            "guitar": {
              "brand": "{{6.extracted_data.brand}}",
              "model": "{{6.extracted_data.model}}",
              "year": "{{6.extracted_data.year}}",
              "type": "electric"
            },
            "story": {
              "narrative": "{{6.extracted_data.story_summary}}",
              "title": "{{6.extracted_data.nickname}}"
            },
            "media": {
              "primary_image": "{{3.displayUrl}}",
              "images": ["{{3.displayUrl}}"]
            },
            "tags": "{{9.tags}}"
          }
        },
        "comment": "HTTP: Create guitar entry in TWNG database"
      },
      {
        "id": 11,
        "module": "http:ActionSendData",
        "version": 3,
        "parameters": {
          "handleErrors": true
        },
        "metadata": {
          "designer": { "x": 2500, "y": 0 }
        },
        "mapper": {
          "url": "{{env.TWNG_API_URL}}/api/admin/articles",
          "method": "POST",
          "headers": [
            {
              "key": "Authorization",
              "value": "Bearer {{env.TWNG_API_KEY}}"
            },
            {
              "key": "Content-Type",
              "value": "application/json"
            }
          ],
          "body": {
            "status": "draft",
            "category": "{{9.category}}",
            "title": "{{9.title}}",
            "subtitle": "{{9.subtitle}}",
            "body": "{{9.body}}",
            "featured_guitar_ids": ["{{10.data.id}}"],
            "source_collector": {
              "platform": "instagram",
              "handle": "{{3.ownerUsername}}",
              "notified": false,
              "claimed": false
            },
            "tags": "{{9.tags}}",
            "seo": {
              "meta_title": "{{9.title}} | TWNG",
              "meta_description": "{{9.subtitle}}",
              "slug": "{{slugify(9.title)}}"
            },
            "auto_generated": true
          }
        },
        "comment": "HTTP: Create article in TWNG CMS (draft status for review)"
      },
      {
        "id": 12,
        "module": "google-sheets:addRow",
        "version": 2,
        "parameters": {},
        "metadata": {
          "designer": { "x": 2750, "y": 0 },
          "restore": {
            "spreadsheetId": "{{env.TRACKING_SHEET_ID}}",
            "sheetId": "Featured Content Queue"
          }
        },
        "mapper": {
          "spreadsheetId": "{{env.TRACKING_SHEET_ID}}",
          "sheetId": "Featured Content Queue",
          "values": {
            "A": "{{formatDate(now; \"YYYY-MM-DD HH:mm\")}}",
            "B": "@{{3.ownerUsername}}",
            "C": "{{3.url}}",
            "D": "{{10.data.id}}",
            "E": "{{11.data.id}}",
            "F": "{{env.TWNG_BASE_URL}}/articles/{{11.data.slug}}",
            "G": "{{9.title}}",
            "H": "{{6.overall_score}}",
            "I": "{{6.extracted_data.brand}} {{6.extracted_data.model}}",
            "J": "pending_review",
            "K": "Hey @{{3.ownerUsername}}! Your {{if(6.extracted_data.year; 6.extracted_data.year + \" \"; \"\")}}{{6.extracted_data.brand}} {{6.extracted_data.model}} caught our eye — we featured it on TWNG: {{env.TWNG_BASE_URL}}/articles/{{11.data.slug}}\n\nWe're building a platform for guitar collectors to document and share their collections. Would love for you to claim your entry and add the full story. No pressure, just thought you'd want to see it!",
            "L": "{{3.ownerFollowersCount}}"
          }
        },
        "comment": "Google Sheets: Add to Featured Content Queue for review"
      },
      {
        "id": 13,
        "module": "slack:createMessage",
        "version": 1,
        "parameters": {},
        "metadata": {
          "designer": { "x": 3000, "y": 0 }
        },
        "mapper": {
          "channel": "#twng-content",
          "text": ":guitar: *New Featured Article Ready for Review*\n\n*Title:* {{9.title}}\n*Guitar:* {{6.extracted_data.brand}} {{6.extracted_data.model}}{{if(6.extracted_data.year; \" (\" + 6.extracted_data.year + \")\"; \"\")}}\n*Owner:* @{{3.ownerUsername}} ({{3.ownerFollowersCount}} followers)\n*Score:* {{6.overall_score}}/10\n*Angle:* {{6.suggested_angle}}\n\n:link: <{{env.TWNG_BASE_URL}}/admin/articles/{{11.data.id}}|Review Article> | <{{3.url}}|Original Post>\n\n_Suggested DM ready in tracking sheet_"
        },
        "comment": "Slack: Notify team of new article ready for review"
      }
    ],
    "metadata": {
      "version": 1,
      "instant": false,
      "designer": {
        "orphans": []
      },
      "scenario": {
        "roundtrips": 1,
        "maxErrors": 3,
        "autoCommit": true,
        "autoCommitTriggerLast": true,
        "sequential": false,
        "confidential": false,
        "dataloss": false,
        "dlq": false
      }
    }
  },
  "environment_variables": {
    "TWNG_API_URL": {
      "description": "Your TWNG API base URL",
      "example": "https://api.twng.com",
      "required": true
    },
    "TWNG_API_KEY": {
      "description": "TWNG API admin key for creating guitars/articles",
      "example": "twng_admin_xxx",
      "required": true
    },
    "TWNG_BASE_URL": {
      "description": "TWNG frontend URL for article links",
      "example": "https://twng.com",
      "required": true
    },
    "TRACKING_SHEET_ID": {
      "description": "Google Sheets ID for tracking queue",
      "example": "1abc123def456...",
      "required": true
    },
    "APIFY_TOKEN": {
      "description": "Your Apify API token",
      "example": "apify_api_xxx",
      "required": true
    },
    "ANTHROPIC_API_KEY": {
      "description": "Your Anthropic/Claude API key",
      "example": "sk-ant-xxx",
      "required": true
    }
  },
  "google_sheets_setup": {
    "sheet_name": "Featured Content Queue",
    "columns": {
      "A": "Date",
      "B": "Handle",
      "C": "Original Post URL",
      "D": "Guitar ID",
      "E": "Article ID",
      "F": "Article URL",
      "G": "Title",
      "H": "Score",
      "I": "Guitar",
      "J": "Status",
      "K": "Suggested DM",
      "L": "Followers"
    },
    "status_values": ["pending_review", "approved", "sent", "responded", "claimed", "declined", "no_response"]
  },
  "api_endpoints_required": {
    "twng_guitars": {
      "method": "POST",
      "path": "/api/admin/guitars",
      "description": "Creates a new guitar entry",
      "returns": "{ id, claim_token }"
    },
    "twng_articles": {
      "method": "POST",
      "path": "/api/admin/articles",
      "description": "Creates a new article in draft status",
      "returns": "{ id, slug }"
    }
  },
  "setup_instructions": {
    "1_apify": {
      "title": "Set Up Apify",
      "steps": [
        "Create account at apify.com",
        "Get API token from Settings > Integrations",
        "Install 'Instagram Hashtag Scraper' actor",
        "Test with a single hashtag first"
      ]
    },
    "2_make": {
      "title": "Import to Make.com",
      "steps": [
        "Go to Make.com > Scenarios > Create new",
        "Click the '...' menu > Import Blueprint",
        "Paste this JSON (blueprint section only)",
        "Connect your Apify, Anthropic, Google, Slack accounts",
        "Set environment variables in scenario settings"
      ]
    },
    "3_google_sheets": {
      "title": "Create Tracking Sheet",
      "steps": [
        "Create new Google Sheet",
        "Name first sheet 'Featured Content Queue'",
        "Add headers in row 1: Date, Handle, Original Post URL, Guitar ID, Article ID, Article URL, Title, Score, Guitar, Status, Suggested DM, Followers",
        "Copy Sheet ID from URL and add to env vars"
      ]
    },
    "4_slack": {
      "title": "Set Up Slack Notifications",
      "steps": [
        "Create #twng-content channel",
        "Add Make.com Slack app to channel",
        "Connect Slack in Make.com"
      ]
    },
    "5_test": {
      "title": "Test the Scenario",
      "steps": [
        "Run scenario manually with test data",
        "Verify posts filter correctly",
        "Check Claude responses parse properly",
        "Confirm Sheet and Slack receive data",
        "Enable scheduling when ready"
      ]
    }
  },
  "cost_estimates": {
    "per_run": {
      "apify": "$0.50-2.00 (500 posts)",
      "claude_qualification": "$0.02-0.05 per post",
      "claude_article": "$0.05-0.10 per article",
      "estimated_total": "$3-10 per daily run"
    },
    "monthly": {
      "apify": "~$30-60",
      "claude": "~$30-60",
      "make": "$29 (Pro plan)",
      "total": "~$90-150"
    },
    "notes": "Costs depend on volume. Start with lower resultsLimit (100) to test."
  }
}
